body{
    background-color: rgb(235, 235, 235);
}
.grande{
    display: flex;
    width: 100%;
}
.a1{
    color: blue;
    font-size: 60px;
    font-weight: 900;
    margin-top: 38%;
    margin-left: 300px;
}
.a2{
    margin-left: 300px;
    font-size: 24px;
}
.a3{
    width: 300px;
    height: 50px;
    margin-left: 47%;
    margin-top: 10px;
}
.a4{
    color: white;
    background-color: blue;
    font-weight: 900;
    font-size: 19px;
    width: 300px;
    height: 50px;
    margin-left: 47%;
    margin-top: 10px;
}
.grande1{
    margin-top: 16.5%;
    margin-left: -10px;
}
.a5{
    color: blue;
    margin-left: 500px;
    margin-top: 15px;
}
.linha{
    margin-left: 410px;
    margin-top: 20px;
    width: 300px;
}
.pequeno1{
    text-align: center;
}
.a6{
    color: white;
    background-color: rgb(7, 185, 7);
    border: 2px solid black;
    border-radius: 5px;
    height: 40px;
    font-weight: bold;
    margin-left: 470px;
    margin-top: 20px;
    margin-right: 122px;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 19px;
}
.a7{
    font-weight: 900;
}
.grande2{
    margin-top: 20px;
    padding-left: 375px;
}